<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add To-Do | To-Do App</title>
    <link rel="stylesheet" href="css/new.css">
</head>
<body>
    <button id="closeBtn" class="top-right">✖</button>

    <div class="main-container">
        <h1 class="page-title">Add new To-Do</h1>
        
        <textarea id="todoInput" class="card textarea-card" placeholder="Enter to-do ..."></textarea>
        
        <button id="addTodoBtn" class="add-btn">Add</button>
    </div>

    <script src="js/new.js"></script>
</body>
</html>
