<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Karteikarte App</title>
    <link rel="stylesheet" href="css/todos.css">
</head>
<body data-todos="@todos">
    <!-- Plus-Button oben rechts -->
    <button id="addBtn" class="top-right">+</button>
    
    <div class="main-container">
        <div class="card" id="cardDiv">
            <div class="card-main-text">@topTodoText</div>
        </div>
        
        <div class="button-group">
            <button id="doneBtn" type="button">✅</button>
        </div>
    </div>
    
    <script src="js/todos.js"></script>
</body>
</html>
